Backups/
Cache/
CachedData/
CachedExtensions/
GPUCache/
Local Storage/
logs/
User/workspaceStorage/
User/globalStorage/
Cookies
Cookies-journal
machineid
Network Persistent State
Preferences
rapid_render.json
storage.json
